//
// Place your HTML here
//

@surface: #201f23;
@on-surface: #c8c5d0;
@on-surface-variant: #928f9a;
@outline: #928f9a;
@primary: #d0bcff;

body {
  background-color: @surface;
  color: @on-surface;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.4;
  margin: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: @on-surface-variant;
}

a {
  color: @primary;
  font-weight: 500;

  &:hover {
    background-color: fade(@primary, 16%);
  }
}

// Styles for certain selected inline elements objects, like links.
.mce-content-body [data-mce-selected="inline-boundary"] {
  background-color: fade(@primary, 32%);
}

table {
  border-collapse: collapse;
}

/* Apply a default padding if legacy cellpadding attribute is missing */
table:not([cellpadding]) th,
table:not([cellpadding]) td {
  padding: .4rem;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:not([border="0"]):not([style*="border-width"]) th,
table[border]:not([border="0"]):not([style*="border-width"]) td {
  border-width: 1px;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:not([border="0"]):not([style*="border-style"]) th,
table[border]:not([border="0"]):not([style*="border-style"]) td {
  border-style: solid;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:not([border="0"]):not([style*="border-color"]) th,
table[border]:not([border="0"]):not([style*="border-color"]) td {
  border-color: fade(@outline, 32%);
}

figure {
  display: table;
  margin: 1rem auto;
}

figure figcaption {
  color: fade(@outline, 32%);
  display: block;
  margin-top: .25rem;
  text-align: center;
}

hr {
  border-color: fade(@outline, 32%);
  border-style: solid;
  border-width: 1px 0 0 0;
}

code {
  background-color: fade(@on-surface, 16%);
  border-radius: 3px;
  padding: .1rem .2rem;
}

.mce-content-body:not([dir=rtl]) {
  blockquote {
    border-left: 2px solid fade(@outline, 32%);
    margin-left: 1.5rem;
    padding-left: 1rem;
  }
}

// RTL
.mce-content-body[dir=rtl] {
  blockquote {
    border-right: 2px solid fade(@outline, 32%);
    margin-right: 1.5rem;
    padding-right: 1rem;
  }
}
