@import 'src/less/theme/theme';

//
@background-color: #201F23;
@base-value: 16px;
@color-black: #222f3e;
@color-tint: #006ce7;
@color-white: #fff;
@color-error: #c00;
@color-success: #78AB46;
@font-stack: 'Roboto', Arial, sans-serif;
